.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 1.25%;
}

.header-FS {
    width: 100%;
    background-color: #EEDBD6;
}



.header-FS .container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 2% 2%;
}


.pic-logo {
    width: 10.7%;
    /* height: 9.4%; */
}

.pic-logo img {
    width: 100%;
    vertical-align: middle;
}

.header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
}

.header-list ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 15px;
}

.header-list a {
    text-decoration: none;
    font-size: 16px;
    font-family: "Noto Serif TC", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #5F5F5F;
}

.shopping-info {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.shopping-info img {
    width: 80%;
    vertical-align: middle;

}


.footer-FS {
    width: 100%;
    background-color: #EEDBD6;
}

.footer-FS .container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 2% 2%;
}

.brand-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.brand-info .pic-logo {
    width: 34.7%;
}

.brand-info img {
    width: 100%;
    vertical-align: middle;
}


.brand-copyright p {
    text-align: left;
    font-size: clamp(10px, 2vw, 14px);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2em;
    color: #5F5F5F;
}

.contactus-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 15px;
}

.contactus-info p {
    font-size: clamp(10px, 2vw, 14px);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2em;
    color: #5F5F5F;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.social-media img {
    width: 100%;
    vertical-align: middle;

}

input[type="checkbox"] {
    display: none;
}

@media screen and (max-width:768px) {
    .pic-logo {
        width: 15%;
    }

    .header-info {
        flex-direction: row;
        align-items: center;
    }

    .header-list {

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }


    .menu {

        width: 30px;
        height: 30px;
        background: #A34B1D;
        display: block;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3px;
        position: relative;
    }

    .menu div {
        width: 15px;
        height: 2px;
        background: #fff;
        border-radius: 1px;
        transition: all 0.3s;
    }

    .cover {
        position: absolute;
        display: block;
        right: 20px;
        top: 30px;
        transform: translate(20px, 0);
        width: 0px;
        height: 0px;
        border-radius: 5%;
        background: #bf6c3f;
        z-index: 4;
        transition: 0.5s;
        overflow: hidden;
    }

    input:checked~label>.cover {
        width: 200px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-list ul {
        padding: 10px 0;
        display: block;
    }

    .header-list li {
        padding: 10px 0;
        width: 100px;
        text-align: center;
    }

    .header-list li:nth-child(-n+5) {
        border-bottom: 0.5px dashed #ffffff;
        

    }

    .header-list a {
        color: #fff;
    }
    .brand-info {
        gap: 10px;
    }
    .brand-info .pic-logo {
        width: 25%;
    }
    .contactus-info {
        gap: 10px;
        width: 50%;
    }
    .social-media {
        gap: 10px;
    }
}