


.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 1.25%;
}

.header-FS {
    width: 100%;
    background-color: #EEDBD6;
}



.header-FS .container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding:1% 1.25%;
}


.pic-logo {
    width: 10.7%;
    /* height: 9.4%; */
}

.pic-logo img {
    width: 100%;
    vertical-align: middle;
}

.header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap:15px;
}

.header-list ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 15px;
}

.header-list a {
    text-decoration: none;
    font-size: 20px;
    font-family: "Noto Serif TC", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #5F5F5F;
}

.shopping-info {
    display: flex;
    justify-content:center;
    gap: 15px;

}

.shopping-info img{
width: 30px;
}


.footer-FS {
    width: 100%;
    background-color: #EEDBD6;
}

.footer-FS .container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding:1% 1.25%;
}

.brand-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:15px;   
}

.brand-info .pic-logo{
width:34.7%;
}

.brand-info img{
    width:100%;
    vertical-align: middle;
    }


.brand-copyright p {
    text-align: left;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
    color: #5F5F5F;
}

.contactus-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap:15px;   
}

.contactus-info p {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
    color: #5F5F5F;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.social-media img {
    width: 30px;
    height: 30px;
}